body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(32, 35, 36);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  width: 80%;
  max-width: 1200px;
}

.form-container {
  flex: 1;
  margin: 10px;
}
.reservations_container {
  flex: 2;
  margin: 10px;
}
.reservations_scroll {
  height: 350px;
  overflow-y: scroll;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
}

.ok_button {
  background-color: #28a745;
  color: white;
}

.cancel_button {
  background-color: #dc3545;
  color: white;
  width: 100%;
}

.reservations {
  margin-top: 10px;
  background-color: rgb(47, 51, 53);
  padding: 10px;
  border-radius: 4px;
  position: relative;
  display:flex;
  justify-content: space-between
}
.room_number {
  background-color: rgb(47, 110, 47);
  color: white;
  padding: 2px;
  border-radius: 2px;
}
.reservations .timeout_button,
.reservation .cancel_button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.reservation .cancel-button {
  background-color: #007bff;
}

.reservation.show-timeout .timeout-button {
  display: inline-block;
}
